fieldset, input
{
    border: 2px solid black;
}

fieldset
{
    padding: 20px;
}

form
{
    margin-bottom: 20px;
}

form div
{
    margin: 10px;
}

label
{
    margin-right: 30px;
}

input
{
    height: 30px;
    font-style: italic;
}

input:focus, textarea:focus
{
    outline: none;
}

#condiciones
{
    width: 30px;
    height: 15px;
}

#cond
{
    margin-top: 20px;
}

#cond small
{
    color: red;
}

#btns
{
    display: flex;
    justify-content: space-between;
}

#guardar
{
    margin-left: 20px;
}

button
{
    border: 5px solid black;
    color: black;
    background-color: white;
}

textarea
{
    width: 100%;
    height: 50px;
    border: 3px dashed black;
    padding: 5px;
    resize: none;
}