*, *::after, *::before, html, body
{
    padding: 0;
    margin: 0;
}

header, footer
{
    width: 100%;
    height: 150px;
    padding: 40px;
    background-color: yellow;
}

main
{
    display: flex;
    flex-direction: column;
}

nav, aside
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    background-color: olive;
}

#a
{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container
{
    width: 92%;
    margin: 0 auto;
}

#a1
{
    height: 150px;
    background-color: greenyellow;
}

#a2
{
    background-color: cornflowerblue;
}

.text
{
    margin: 7px;
}

@media screen and (min-width: 768px)
{
    main
    {
        flex-direction: row;
    }

    nav, aside
    {
        width: 20%;
        height: 410px;
        padding-top: 40px;
        align-items: flex-start;
    }

    #a
    {
        width: 60%;
        height: 450px;
    }  

    #a1
    {
        height: 300px;
    }

    .container
    {
        width: 80%;
    }
}