*, *::before, *::after, html
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95rem;
}

body
{
    background-color: rgb(30, 30, 30);
}

header
{
    display: flex;
    justify-content: center;
    margin: 20px;
}

main
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

article
{
    width: 200px;
    height: 200px;
    margin: 2rem;
    background-image: url("images/bgButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img
{
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

a
{
    color: white;
    pointer-events: none;
    text-decoration: none;
    text-align: center;
}