/* 

Sticky: es una combinación de posicionamiento relative y fixed, para

Para que este comportamiento funcione el elemento sticky debe de ser hijo directo del body o su elemento contenedor debe tener dimensiones definidas y sólo será sticky dentro de las dimensiones de su contenedor padre.

*/

#cabecera
{
    width: 100%;
    height: 500px;
    background-color: transparent;
    border: 1px solid black;
}

.sticky
{
    background-color: aqua;
    position: sticky;
    height: 50px;
    top: 100px;
}

.sticky-parent
{
    border: 1px solid black;
    background-color: antiquewhite;
    height: 800px;
}

.sticky-child
{
    background-color: chartreuse;
    position: sticky;
    top: 50px;
}