:root
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.4;
}

*, *::before, *::after
{
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
}

h1
{
    font-size: 1.8rem;
    padding: 1rem 2rem;
    margin: 2rem 3rem 3rem 3rem;
}

h3
{
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.contenedor
{
    width: 80%;
    height: 210px;
    background-color: cadetblue;
    margin: 3rem auto;
    overflow: hidden;
}

.contenedor img
{
    object-fit: cover;
    max-width: 105%;
    transition: all 0.5s ease;
}

.contenedor img:hover
{
    cursor: pointer;
    transform: scale(3, 1);
    filter: sepia(100%);
}

.galeria
{
    width: 90%;
    margin: 2rem auto;
    transition: all 0.5s ease;
    border-radius: 30px;
}

.galeria:hover
{
    cursor: crosshair;
    box-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
}

.foscuro
{
    background-color: rgb(82, 61, 61);
}

.clear
{
    text-align: center;
}

p
{
    margin: 1.5rem;
    column-count: 1;
}

@media screen and (min-width: 480px)
{
    h1 
    {
        font-size: 2rem;
        margin: 2rem 3rem 2rem 3rem;
    }

    .contenedor
    {
        width: 42%;
        height: 180px;
        display: inline-block;
        margin: 0.5rem;
    }

    .contenedor img
    {
        max-width: 115%;
    }

    .galeria
    {
        width: 40%;
        margin: 0.8rem;
    }

    p
    {
        column-count: 2;
        column-gap: 2rem;
    }

    .clear
    {
        padding-bottom: 2rem;
    }

    .foscuro
    {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 768px)
{
    h1 
    {
        font-weight: 700;
        margin: 2rem 2rem;
    }

    .contenedor
    {
        width: 25%;
        height: 170px;
        margin: 0.8rem;
    }

    .galeria
    {
        width: 25%;
    }

    p
    {
        column-count: 3;
    }
}

@media screen and (min-width: 1024px)
{
    h1 
    {
        font-weight: 900;
    }

    .contenedor
    {
        width: 22%;
        height: 180px;
        margin: 0.5rem;
    }

    .galeria
    {
        width: 21%;
    }

    p
    {
        column-count: 4;
    }
}