/*

Regla CSS consta de 2 partes
1) Selector
2) Bloque de declaraciones: {
    atributo: valor;
    atributo-de-mas-de-dos-palabras: otro-valor;
    otro-atributo-de-caja-o-abreviado: valor-arriba valor-derecha valor-inferior valor-izquierda;
    otro-atributo-de-caja-o-abreviado: valor-arriba-abajo valor-derecha-izquierda;
}

Selector=etiqueta de html, grupo de etiquetas, o atributos especificos con o sin valor

*/

/* Reseteo personal para los navegadores. Definir los elementos básicos a partir de la raiz del documento */

:root
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* Variables */
    --violeta: rgb(255, 8, 255);
}

html
{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body
{
    min-height: 100%; /* 100 vh */
    overflow-x: hidden;
}

*, *::before, *::after
{
    padding: 0px;
    margin: 0px;
    box-sizing: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
    display: block;
}

/* Fin reseteo personal para los navegadores */

body
{
    /* padding-left: 2rem; */
    max-width: 80vw;
    margin: auto;
}

small, address, .p2 
{
    color: blue;
}

p
{
    color: black;
    /* background-color: aquamarine; */
    padding: 2rem 0rem;
}

small
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

/* Pseudo estilos */
/*a:link
{
    color: red;
}

a:visited
{
    color: aqua;
}

a:hover
{
    color: green;
}

a:active
{
    color: blue;
} */

a
{
    color: red;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

a:hover
{
    color: green;
}

a:active
{
    color: black;
}

h1
{
    margin-bottom: 2rem;
}

h3
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--violeta);
}

h2, h3
{
    margin-bottom: 1rem;
}

/* id */

#menu
{
    list-style: none;
}

/* class */

.p2
{
    font-size: 1.3rem;
}

.tipo
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.strong
{
    font-weight: 900;
}

.desactivar
{
    pointer-events: none;
}

/* hijos directos */

.directos > li
{
    background-color: burlywood;
}

/* descendientes */

.directos strong
{
    background-color: pink;
}

/* hermanos */
/* Todos los hermano que tenga debajo */
.hermano-general ~ li
{
    background-color: blue;
}
/* El primer hermano que encuentre */
.hermano-adjacente + li
{
    background-color: red;
}

/* Atributos y valores */
/* Todos los a que tengan el atributo x de la clase atributos */
.atributos a[href]
{
    font-weight: bolder;
}
.atributos a[target]
{
    color: orange;
}
/* Todos los que tengan el atributo x con el valor y de la clase atributos */
.atributos a[target="new"]
{
    color: greenyellow;
}
/* Todo lo que empiece por: */
.atributos a[href^="http://"]
{
    color: cadetblue;
}
/* Todo lo que acabe por: */
.atributos a[href$=".eu"]
{
    background-color: aquamarine;
}