:root
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px
}

*, *::before, *::after, html, body
{
    margin: 0;
    padding: 0;
}

nav
{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: chocolate;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

h1
{
    margin-top: 5rem;
    text-align: center;
    color: red;
}

.show-menu
{
    font-weight: normal;
    font-size: 2.5rem;
    color: black;
    display: none;
}

ul
{
    list-style-type: none;
    display: flex;
}

nav ul#menu li a
{
    display: block;
    /* background-color: aliceblue; */
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    line-height: 2rem;
    padding: 0 2rem;
}

nav ul#menu li a:hover /* hover -> cuando pasas por encima */
{
    color: blanchedalmond;
    /* background-color: brown; */
    border-bottom:  2px solid blanchedalmond;
    transition: all 0.2s ease;
}

nav ul#menu li a.selected
{
    color: rgb(63, 43, 246);
    border-top: 2px solid rgb(63, 43, 246);
    pointer-events: none;
}

/* nav ul#menu li a.selected:hover
{
    color: blanchedalmond;
    border-top: 2px solid blanchedalmond;
} */

input[type="checkbox"]
{
    display: none;
}

@media screen and (max-width: 768px)
{
    .show-menu
    {
        display: inline;
        cursor: pointer;
    }

    ul
    {
        /* Display: none; lo hace desaparecer */
        /* display: none; */
        display: none;
        /* Opacity lo hace invisible pero aun existe */
        opacity: 0;
        margin-top: -10rem;
        margin-left: 2rem;
        /* transition: all 0.5s ease; */
        /* animation: opacidad2 0.5s ease; */
    }

    nav
    {
        justify-content: flex-start;
    }

    input[type="checkbox"]:checked ~ ul /* checked -> cuando esta activado */
    {
        margin-top: .5rem;
        margin-left: 2rem;
        display: inline-block;
        opacity: 1;
        animation: opacidad 1s ease;
    }

    @keyframes opacidad
    {
        0%
        {
            opacity: 0;
        }

        100%
        {
            opacity: 1;
        }
    }

    @keyframes opacidad2
    {
        0%
        {
            opacity: 1;
        }

        100%
        {
            opacity: 0;
        }
    }
}