*, *::before, *::after, html, body
{
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    justify-content: center;
}

main
{
    max-width: 1000px;
    width: 100%;
    margin: 10px;
    padding: 10px;

    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

/* HEADER */

header
{
    height: 70px;
    margin-bottom: 15px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
}

h1
{
    width: 100%;
    height: 60px;
    font-weight: 100;
    color: white;
    background-color: black;
    justify-content: space-around;
}

#menu
{
    gap: 10px;
}

#menu div
{
    font-weight: 100;
    width: 25px;
    height: 25px;
    font-size: 20px;
}

#font-up, #font-down
{
    border: 1px solid white;
    cursor: pointer;
} 

#contrast
{
    border: 2px solid white;
    border-radius: 50%;

    background: linear-gradient(to right, white 50%, black 50%);

    cursor: pointer;
}

.text-white
{
    color: white;
}

.bg-black
{
    background-color: black;
}

/* MAIN */

label
{
    width: 100%;
    margin-bottom: 2px;
}

p, label
{
    font-size: 16px;
}

input, button, small
{
    font-size: 13px;
}

input
{
    width: 350px;
    padding: 5px;
    margin-bottom: 10px;
}

button
{
    padding: 10px 20px;
    border: 1px solid transparent;
    color: white;
    background-color: lightseagreen;
    cursor: pointer;
}

button:hover
{
    color: black;
    background-color: lightgray;
}

small
{
    margin-top: 15px;
    margin-left: 15px;
}

#enunciado, #juegoBtns p
{
    margin: 0 10px;
}

.all-numbers
{
    width: 60%;
    margin: 20px auto 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.all-numbers button
{
    width: 35px;
    height: 30px;
    padding: 0;
    margin: 1px 2px;
}

#paso2 div
{
    margin-top: 15px;
    margin-left: 20px;
}

#deNuevo
{
    margin-top: 15px;
    flex-direction: column;
}

#deNuevo div
{
    margin-top: 5px;
}

#no
{
    background-color: orangered;
}

/* OTROS */

.flex-vcenter
{
    display: flex;
    align-items: center;
}

.flex-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-hcenter
{
    display: flex;
    justify-content: center;
}

.erase
{
    display: none;
}

.desactivated
{
    color: rgb(165, 165, 165);
    background-color: rgb(76, 76, 76);
    pointer-events: none;
}

:focus
{
    outline: 2px solid red;
}