*, *::before, *::after, html, body
{
    padding: 0;
    margin: 0;
}

/* Header */
#logo
{
    width: 100%;
}

h2
{
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body */
body
{
    background-color: rgb(250, 250, 165);
}

p
{
    text-align: center;
    padding: 2rem 0.5rem;
    text-indent: 0.8rem;
}

main
{
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    justify-content: center;
    align-content: space-evenly;
}

section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 10;
}

div
{
    display: flex;
    flex-flow: column wrap;
}

.foto
{
    width: 470px;
    margin: auto;
    padding-top: 1rem;
}

h3
{
    padding-top: 1rem;
    padding-left: 1rem;
}

#oporto
{
    background-color: rgb(93, 168, 160);
}

#polonia
{
    background-color: rgb(178, 255, 178);
}

#malta
{
    background-color: rgb(181, 216, 253);
}

@media screen and (min-width: 768px)
{
    main
    {
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        align-items: flex-start;
    }

    section
    {
        width: 50%;
    }
    
    .foto
    {
        width: 350px;
    }
}

@media screen and (min-width: 1024px)
{
    main
    {
        flex-direction: row;
    }

    section
    {
        width: 33%;
    }

    .foto
    {
        width: 300px;
    }
}