:root
{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

*, *::before, *::after, html
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 2rem;
}

h1
{
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  line-height: 4rem;
}

img
{
  max-width: 100%;
}

p
{
  margin: 1.5rem;
}

ul
{
  padding: 1rem 4rem;
}
